html
    head   
        title BUS_PAYMENT
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        style
            include style.css
    body
        div(class="w3-container w3-center")
            a(href='./')
                img(src = "https://hcmute.edu.vn/Resources/Images/SubDomain/HomePage/Nut/logo-news.png")
        hr
        div(class="w3-row")
            div(class="w3-col s0 m2 l3") &nbsp;
            div(class="w3-col s12 m8 l6")
                div(class="w3-card-4 w3-padding-bottom w3-round-xlarge")
                    div(class="w3-container w3-teal w3-round-large")
                        h1(class="title")= "Detail of " + customer.USER_NAME
                    
                    form(action = '/update/customer/' + customer.ID,method = "post" class="w3-container w3-margin")
                        div(class="w3-row w3-section")
                            div(class="w3-col" style="width:50px")
                                i(class="w3-xxlarge fa fa-user w3-text-teal")
                            div(class="w3-rest")
                                h2= customer.USER_NAME
                        div(class="w3-row w3-section")
                            div(class="w3-col" style="width:50px")
                                i(class="w3-xxlarge fa fa-id-card w3-text-teal")
                            div(class="w3-rest")
                                input(class="w3-input w3-border" name = "RFID" value = customer.RFID)

                        div(class="w3-row w3-section")
                            div(class="w3-col" style="width:50px")
                                i(class="w3-xxlarge fa fa-money w3-text-teal")
                            div(class="w3-rest")  
                                input(class="w3-input w3-border" name = "MONEY" value = customer.MONEY)   
                        a(href="/")
                            div(class="w3-btn w3-border w3-border-red w3-hover-red w3-margin-bottom w3-round-medium w3-text-red w3-hover-text-white w3-margin-right" ) Back 
                        input(type = "submit" value = "UPDATE" class="w3-btn w3-border w3-border-teal w3-hover-teal w3-margin-bottom w3-round-medium w3-text-teal w3-hover-text-white")
                            
        footer
            h2 Nhom thuc hien: Bien Xanh