html
    head
        //title=name
        //title #{name}
        title Thomas's First Website
    body
        //- //h1=name
        //- //- h1 Hello #{name}
        //- p Hello World
        //- p I am strong
        //- a(href=url) LINK
        if (user.user_name == "An" && user.password == "123456")
            h1 Hello #{user.user_name}
        else
            a(href="http://www.google.com") Sign up
