<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOST</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   
    <style>
    #main{
        margin: 0 30%;
    }
    form{
        margin-top: 50px;
    }
    #title{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        
        margin: auto;
        width: 80%;
    }
    body{
        /*background-image: url("https://www.jqueryscript.net/images/jQuery-Plugin-To-Resize-Background-Image-To-Fit-Screen.jpg");
        background-repeat: no-repeat;*/
        
        background-color:aqua ;
        width: 100%;
    }
</style>
</head>
<body>
    <div id = 'main'>
        <img src = "https://hcmute.edu.vn/Resources/Images/SubDomain/HomePage/Nut/logo-news.png">
        <br>
        <br>
        <h1 id = 'title'>BUS PAYMENT SYSTEM</h1>
        <br>
        <div class="w3-bar w3-gray">
            <a href = "http://localhost:8080/create" class="w3-bar-item w3-button">
                Sign Up
            </a>
            <a href = "http://localhost:8080/table" class="w3-button">
                Customer's Information
            </a>
    </div>
</body>
</html>