html
    head
        
    body
        h1 STM32F103C8T6:
        img(src="testimage.jpg", alt="Testing Image")
        p If you want to buy it, just click 
        a(href="http://www.google.com") link
        