table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

table{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 100%;
    margin: 0;
    text-align: center;
    display: block;
}
a, a:link, a:visited{
    text-decoration: none;
}
