table
    tr
        th ID
        th USER_NAME
        th RFID
        th MONEY
        th DETAIL
        th DELETE
    - var stt = 0
    each item in list
        - var stt = stt + 1 + ''
        tr
            td= stt
            td= item.USER_NAME
            td= item.RFID
            td= item.MONEY
            td
                a(href='/customer/'+ item.ID) DETAIL
            td
                a(href='/table/delete/' + item.ID) DELETE